Body {
	background-color: #474747;
	color: #16537E;
	font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
    background-image: url(./images/earth.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

div.greetings-container {
	display: flex;
}

div.brand-container {
	display: flex;
	height: 480px;
	width: 330px;
}

div.brand-container > div {
	text-align: center;
	font-size: 20px;
	margin: auto;
}

.iconDetails {
	margin: 0 3% 0 3%;
	height: 25px;
	width: 25px;
}

.contact-container > div {
	float: left;
	margin: auto;
}

.contact-content {
	color: black;
	margin-left: 5px;
	font-size: 4vw;
}

div.contact-container {
	display: flex;
	opacity: 0.7;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px 20px;
	height: auto;
	width: 170px;
	padding: 1%;
	margin-left: 50%;
}

@media screen and (min-width: 375px) {
	div.brand-container {
		height: 510px;
		width: 345px;
	}
}

@media screen and (min-width: 400px) {
	div.brand-container {
		height: 478px;
		width: 370px;
	}
	div.contact-container {
		width: 60%;
		margin-left: 39%;
	}
}

@media screen and (min-width: 414px) {
	div.brand-container {
		height: 578px;
		width: 400px;
	}
}


@media screen and (min-width: 973px) {
	div.contact-container {
		width: 50%;
		margin-left: 70%;
		border-radius: 20px 60px;
	}
	.contact-container > div {
		float: left;
		margin: auto;
	}

	.contact-content {
		font-size: 2vw;
		color: black;
		margin: auto;
	}
	.iconDetails {
		height: 75px;
		width: 75px;
		margin: auto;
	}
}


@media screen and (min-width: 1000px) {
	div.greetings-container > div {
		padding: 25px;
	}
	div.brand-container {
		height: 550px;
		width: 1000px;
	}
	div.brand-container > div {
		font-size: 70px;
	}
	div.contact-container {
		width: 50%;
		margin-left: 50%;
		border-radius: 20px 60px;
	}
	.contact-container > div {
		float: left;
		margin: auto;
	}

	.contact-content {
		font-size: 2vw;
		color: black;
		margin: auto;
	}
	.iconDetails {
		height: 75px;
		width: 75px;
		margin: auto;
	}
}

@media screen and (min-width: 1400px) {
	div.greetings-container > div {
		padding: 35px;
	}
	div.brand-container {
		height: 500px;
		width: 1910px;
	}
	div.brand-container > div {
		font-size: 70px;
	}

	div.contact-container {
		width: 25%;
		margin-left: 70%;
		border-radius: 20px 60px;
	}
	.contact-container > div {
		float: left;
		margin: auto;
	}

	.contact-content {
		font-size: 2vw;
		color: black;
		margin: auto;
	}
	.iconDetails {
		height: 75px;
		width: 75px;
		margin: auto;
	}
}
